@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

:root {
  --color-primary: #262A2F;
  --color-accent: #FF5533;
  --color-grey: #868686;
  --color-white: #FFFFFF;
    --grid-column-width: 101px;
    --grid-gap: 20px;
}

* {
  all: unset;
  display: revert;
  list-style: none;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #EBEBEB;
  font-size: 22px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-column-width));
  gap: var(--grid-gap);
}
.container{
    width: 1435px;
    margin: 0 auto;
}

.navigation__logo {
    grid-column: span 4;
    padding-right:32px;
}
.navigation__image{
    width: 100%;
    transform: scale(0.8);
}
.navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 10vh;
}



.navigation__list{
    grid-column: 5/-1;
    list-style:none;
    display:flex;
}
.navigation__item{
    margin-right: 60px;
    
}
.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
font-size: 24px;
color:var(--color-primary);
font-weight: 900;
text-transform: uppercase;
cursor: pointer;

}
.navigation__link--active {
color: var(--color-accent);
}
.navigation__link:hover {
    color:var(--color-accent);
}

.articles__big-column{
    grid-column: span 9;
}

.articles__small-column{
    grid-column: 10/-1;
}
.article-category{  
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: var(--color-accent);
    text-transform: uppercase;

}
.article-source{
        font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-grey);
    text-transform: uppercase;
}
.article-date{
            font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-accent);
    text-transform: uppercase;
}

.main-article{
    margin-top: 8vh;
    display: grid;
 grid-template-columns: repeat(9, var(--grid-column-width));
  gap: var(--grid-gap);
}
.main-article__image-container{
    grid-column: span 3;
}
.main-article__content{
    grid-column: 4/-1;
    padding-right: 63px;
}

.main-article__image{
    width: 100%;
}
.main-article__category{
    margin-bottom: 7px;
    font-family: 20px;
}
.main-article__title{
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 34px;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
.main-article__text{
    font-size: 22px;
    line-height: 26px;
    color: var(--color-primary);
    margin-bottom: 34px ;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.logo2{
    width: 160px; 
}





.small-article{
    border-left: 9px solid var(--color-primary);
    padding-left: 11px;
    margin-bottom: 35px;
}

.small-article:first-child{
    margin-top: 8vh;
}

.small-articlle__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:var(--color-primary);
    margin-bottom: 14px;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.footer {
    
    background-color: var(--color-primary); 
    padding-bottom: 56px;
}

.footer__column, 
.footer .menu {
    max-width: 1432px;
    margin: 0 auto;
    padding: 0; 
}

.footer .menu {
    justify-content: flex-start;
}

.nav__link2{
    text-decoration: none;
    color: white;
}

.nav__link2:hover{
    color:var(--color-accent);
}

.footer__column{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__text{
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.footer__link{
    color: var(--color-accent);
    font-weight: 700;
}
.footer__link:hover{
    opacity: 0.8;
}

.footer__copyright{
    font-size: 24px;
    line-height: 28px;
    color: var(--color-grey);
}
.footer__navigation .navigation__logo {
    grid-column: span 2;
    padding-right: 56px; 
}

.footer__navigation .navigation__list {
    grid-column: 3/-1;
}

.footer .navigation__link {
    color: var(--color-white);
}

.footer .navigation__link--active {
    color: var(--color-accent);
}

.footer .navigation__link:hover {
    color: var(--color-accent);
}
.footer .navigation__image {
    width: 120px;
    transform: scale(1); 
}